<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewEmp Table</title>
</head>

<body>
    <table>
        <thead>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
        </thead>
        <% employees.forEach((emp)=>{ %>
            <tr>

                <td>
                    <%=emp.empID%>
                </td>
                <td>
                    <%=emp.empName%>
                </td>
            </tr>
            <% }) %>
    </table>
    <button>Make Changes</button>
</body>

</html>